---
layout: default
permalink: /blog/
title: Blog
nav: true
---

<div class="blogpost">

	{% for post in site.posts %}

	  <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }} | {{ post.author }}</p>

	  <h4>
	    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	  </h4>

    <div class="entry">
      {{ post.content | truncatewords:50}}
    </div>

	    <p class="read-more text-xs-right">
	    	| <a href="{{ site.baseurl }}{{ post.url }}">Read More</a> |
	    </p>

		{% if forloop.last == false %}
  		<hr>
		{% endif %}

	{% endfor %}

</div>