// Bootstrap Starter Template with navbar floating right

body {
  color: #fff;
  background-image: url(image_path('circuit_bg_dark_xsv.jpg'));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
}

@media (min-width: 480px) {
	body {
		background-image: url(image_path('circuit_bg_dark_sm.jpg'));
	}
}

@media (min-height: 720px) {
	body {
		background-image: url(image_path('circuit_bg_dark_smv.jpg'));
	}
}

@media (min-width: 768px) {
	body {
		background-image: url(image_path('circuit_bg_dark_1k.jpg'));
	}
}

@media (min-height: 1280px) {
	body {
		background-image: url(image_path('circuit_bg_dark_1kv.jpg'));
	}
}

@media (min-width: 1920px) {
	body {
		background-image: url(image_path('circuit_bg_dark_2k.jpg'));
	}
}

@media (min-width: 2560px) {
	body {
		background-image: url(image_path('circuit_bg_dark_4k.jpg'));
	}
}

footer {
	font-size: .8rem;
	margin-top: 1rem;
	p {
		margin-bottom: 0;
	}
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-nav {
	float: right !important;
}