// Bootstrap Starter Template with navbar floating right

body {
  background-image: url(image_path('circuit_bg_dark.jpg'));
  color: #fff;
}

footer {
	font-size: .8rem;
	margin-top: 1rem;
	p {
		margin-bottom: 0;
	}
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-nav {
	float: right !important;
}