// Custom Styles

.home-logo {
	background-image: url(image_path('logo_xsmall.png'));
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 220px;
	height: 300px;
}

@media (min-width: 570px) {
	.home-logo {
		background-image: url(image_path('logo_small.png'));
		width: 360px;
		height: 490px;
	}
}

.blogpost {
	margin-top: 3rem;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.6);
}

.post-meta {
	color: darken(#fff, 30%);
}

// Nav stuff
.bg-inverse {
	background: transparent;
	//background: rgba(0, 0, 0, 0.15);
}

#primary_nav_wrap ul
{
	list-style: none;
}

#primary_nav_wrap ul li
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0 .5rem 0 .5rem;
}

#primary_nav_wrap ul ul
{
	opacity: 0;
	height: 0;
	position: absolute;
	top: 100%;
	left: -0rem;
	background: transparent;
	//background: rgba(0, 0, 0, 0.15);
	padding: 0;
	overflow: hidden;

  -webkit-transition: all .1s ease .1s;
  -moz-transition: all .1s ease .1s;
  -o-transition: all .1s ease .1s;
  -ms-transition: all .1s ease .1s;
  transition: all .1s ease .1s;
}

#primary_nav_wrap ul ul li
{
	float: none;
	width: 9em;
}

#primary_nav_wrap ul li:hover > ul
{
	opacity: 1;
	height: auto;
}